<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>K!client</title>
  <link type="text/css" href="/style.css" rel="stylesheet">
</head>
<body>
  <h1 id="kclient">K!client</h1>
  <p id="description">K!client is a Kahoot client. (still making....)</p>
  <div id="sq"></div>
  <div id="el"></div>
  <form id="pinarea">
    <input type="text" id="gameId" placeholder="Game PIN" inputmode="numeric" autocomplete="off" dir="auto"><br>
    <button id="pinsubmit" onclick="epin()">Enter</button>
  </form>
  <button id="setting" onclick="mfn()">Setting</button>
  <p id="result"></p>
  <script src="page.js"></script>
  <script type="module" src="kahoot.js"></script>
</body>
</html>
