<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>K!client</title>
  <link type="text/css" href="/style.css" rel="stylesheet">
</head>
<body>
  <div id="player"></div>
  <div id="popup"> <!-- Corrected id -->
    <h1 id="popupt">Login code</h1>   
    <p id="popuptext">You need to enter Login code before using Kclient</p>
    <form id="inputid">
     <input type="text" id="subid" placeholder="Enter Login Code" autocomplete="off" dir="auto"></input><br>
      <button id="eid" onclick="rick()">Continue</button><br>
      <h5>Status:</h5>
      <h5 id="status">Login needed</h5>
    </form>
  </div>
  <div id="el"></div>
  <div id="sq"></div>
  <button id="setting" onclick="mfn()">Setting</button>
  <script src="page.js"></script>
  <script src="rick.js"></script>
</body>
</html>
