body {
  text-align: center;
}

#wahoot {
  opacity: 85%;
  margin-bottom: 5%;
}

#ver {
  position: fixed;
  bottom: 10px;
  left: 10px;
  color: #fff;
}

#gameIdsubmit,
#nicknamesubmit {
  width: 250px;
  height: 50px;
  margin: 0;
  border: 0;
  cursor: pointer;
  box-shadow: 0px -4px inset rgba(0, 0, 0, 0.25);
  background: rgb(40, 40, 40);
  color: rgb(255, 255, 255);
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  padding: 0 16px 4px;
  position: relative;
  font-size: 18px;
  font-family: Montserrat, "Noto Sans Arabic", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#gameId,
#nickname {
  text-align: center;
  font-size: 18px;
  width: 250px;
  height: 50px;
  color: rgb(40, 40, 40);
  border-radius: 4px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-weight: 700;
  font-family: Montserrat, "Noto Sans Arabic", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 0.125rem solid rgb(204, 204, 204);
  background-color: rgb(255, 255, 255);
}

.center {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

#pinarea {
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px;
  width: 288px;
  height: 106px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

#setting {
  width: 125px;
  height: 50px;
  font-size: 15px;
  position: absolute;
  background-color: #fff;
  border: 3px solid #fff;
  border-radius: 70px;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

#setting:active {
  border-color: #0e81c8;
}

.plbox {
  position: absolute;
  width: 200px;
  height: 50px;
  bottom: 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

#scorebox {
  background-color: rgb(40, 40, 40);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
  right: 10px;
  color: #fff;
}

#usernamebox {
  text-shadow: 0 0 #000000;
  margin-left: 90px;
  color: #000;
  text-align: left;
}

#icon {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
  position: absolute;
  bottom: 15px;
  left: 20px;
}

#bar {
  position: absolute;
  bottom: 0;
  background-color: #fff;
  height: 9.2%;
  width: 100%;
  left: 0;
  opacity: 0.75;
}

.normal_ab {
  position: absolute;
  color: #fff;
  opacity: 0.8;
  font-size: 20px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
  height: 43.5%;
  width: 47.5%;
}

#red {
  left: 2.08%;
  background-color: rgb(226, 27, 60);
  border: 3px solid rgb(226, 27, 60);
}

#blue {
  right: 2.08%;
  background-color: rgb(19, 104, 206);
  border: 3px solid rgb(19, 104, 206);
}

#green {
  right: 2.08%;
  bottom: 10.2%;
  background-color: rgb(38, 137, 12);
  border: 3px solid rgb(38, 137, 12);
}

#yellow {
  bottom: 10.2%;
  left: 2.08%;
  background-color: rgb(216, 158, 0);
  border: 3px solid rgb(216, 158, 0);
}
