<!DOCTYPE html>
<html lang="ja">
  <div id="bar"></div>
   <div id="normal_ab">
     <label for="red"><input class="normal_ab" id="red" value="red"></label>
      <label for="blue"><input class="normal_ab" id="blue" value="blue"></label>
      <label for="yellow"><input class="normal_ab" id="yellow" value="yellow"></label>
      <label for="green"><input class="normal_ab" id="green" value="green"></label>
   </div>
  <p id="lobbytitle">You're in!!</p>
  <p id="lobbysubt">Can you see your name?</p>
  <p id="result"></p>
  <img id = "loading" src="https://thebowlcut.com/cdn/shop/t/41/assets/loading.gif?v=157493769327766696621701744369" width="250px" height="250px"></img>
  <img class="moveup" id="icon"  height="60" width="60">
  <div class="plbox" id="usernamebox"> 
    <p id="username">usename</p>
  </div>
   <div class="plbox" id="scorebox">
     <p id="score">score</p>
   </div>
   <button id="setting-lobby" onclick="setting()"></button>
   <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
   <script src="/game.js"></script>
   <script src="/mypage.js"></script>
</body>
</html>
