<!DOCTYPE html>
<html lang="ja">
 <body>
  <div id="bar"></div>
   <div id="normal_ab">
     <button class="normal_ab" id="red" onclick="answer([0]);">Red</button>
     <button class="normal_ab" id="blue" onclick="answer([1]);">Blue</button>
     <button class="normal_ab" id="yellow" onclick="answer([2]);">Yellow</button>
     <button class="normal_ab" id="green" onclick="answer([3]);">Green</button>
   </div>
  <img id="icon" src="https://mc-heads.net/avatar/28d1f31d-d312-45f3-92e3-ce13b89b7e7a/100/" height="60" width="60">
  <div class="plbox" id="usernamebox"> 
    <p id="username">usename</p>
  </div>
   <div class="plbox" id="scorebox">
   <p id="score">score</p>
   </div>
</body>
</html>
