<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Wahoot!</title>
  <link type="text/css" href="/pin.css" rel="stylesheet">
  <script src="/pin.js"></script> 
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <script src="/socket.io/socket.io.js"></script> 
  <script src="../kahoot.js"></script>
</head>
  <body background="https://preview.redd.it/purple-japanese-painting-1920x1080-v0-xe7xohjnnv3b1.jpg?auto=webp&s=ae53c51d1650fa8cc2075aea01de9f8035546315">
  <img id="wahoot" src="https://i.postimg.cc/Vkrx4Y60/wahoot.png" alt="wahoot" border="0" height="52.5%" width="52.5%">
  <div class="center">
   <form id="pinarea" onsubmit="epin(event)">
      <input type="text" id="gameId" placeholder="Game PIN" inputmode="numeric" autocomplete="off" dir="auto"><br>
      <button id="gameIdsubmit" type="submit">Enter</button>
    </form>
  </div>
  <button id="setting" onclick="setting()">Setting</button>
  <p id="ver">ver: 0.3.1</p>
</body>
</html>
