<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Wahdoot!</title>
</head>
<body>
  <button id="test">Settings</button>
  <button id="test2"></button>
  <style>
    #test {
      padding:10px;
      font-size: 19px;
      position: absolute;
      color: #fff;
      background-color: #710969;
      background-image: url('https://kotonohaworks.com/free-icons/wp-content/uploads/kkrn_icon_haguruma_6.png');
      background-size: contain;
      background-position: left center;
      background-repeat: no-repeat;
      border: 3px solid #860e7c;
      border-radius: 70px;
      padding-left: 40px;
      right: 20px;
      top: 20px;
      cursor: pointer;
       box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
    }
    #test2 {
      padding:20px;
      font-size: 19px;
      position: absolute;
      color: #fff;
      background-color: #710969;
      background-image: url('https://kotonohaworks.com/free-icons/wp-content/uploads/kkrn_icon_haguruma_6.png');
      background-size: contain;
      background-position: left center;
      background-repeat: no-repeat;
      border: 3px solid #860e7c;
      border-radius: 70px;
      right: -400px;
      top: 20px;
      cursor: pointer;
       box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="./test.js"></script>
</body>